<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to my site</title>
    </head>
    <body>
        <div style="display:flex; justify-content: space-between; padding: 20px;">
            <a href="/" style="text-decoration: none;"><h2>Home</h2></a>
            <a href="/about" style="text-decoration: none;"><h2>About Us</h2></a>
            <a href="/character-recognition" style="text-decoration: none;"><h2>Character Recognition</h2></a>
            <a href="/translate" style="text-decoration: none;"><h2>Translation</h2></a>
            <a href="/daily-news" style="text-decoration: none;"><h2>Daily news</h2></a>
            <a href="/detection" style="text-decoration: none;"><h2>Detection</h2></a>
            <a href="/recommendation" style="text-decoration: none;"><h2>Recommendation Systems</h2></a>
            <a href="/contact" style="text-decoration: none;"><h2>Contact Us</h2></a>
        </div>
        <div style="text-align:center">
            <h1>About Us</h1>
        </div>
    </body>
</html>
